<div class="py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <h1 class="text-1xl font-semibold text-gray-900"><x-svg src="/svg/megaphone.svg"></x-svg>Credits</h1>
  </div>
</div>
<ul>
    <li><a href="https://github.com/primer/octicons">GitHub Octicons</a></li>
    <li><a href="https://heroicons.com/">heroicons</a></li>
    <li><a href="https://fonts.google.com/?selected=Material+Icons">Google Material Icons</a></li>
</ul>
