<!-- This example requires Tailwind CSS v2.0+ -->
<div data-widgetid="pendinglogin" class="text-center">
  <h3 class="mt-2 text-4xl"><%= loginSession.confirmMnemonic %></h3>
  <p class="mt-1 text-lg text-gray-500">
      click the confirmation link sent to <%= loginSession.user.email %>
  </p>
  <div class="mt-6">
      <form method="POST" action="#/logout">
        <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            cancel login
        </button>
      </form>
  </div>
</div>
