<div class="hidden" data-widgetid="table_editor"></div>
<%- include('term-editor-header') %>
<% console.log(focusTerm.value) %>
<div class="py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <x-term-table id="termTable">
        </x-term-table>
    </div>
</div>
<%- include('new-term-dialog') %>
