<!-- This example requires Tailwind CSS v2.0+ -->
<div data-widgetid="pendinglogin" class="text-center">
  <h3 class="mt-2 text-4xl flex justify-center">
    <!-- Heroicon name: solid/exclamation -->
    <svg class="h-20 w-20 text-yellow-400 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
    </svg>
  </h3>
  <p class="mt-1 text-lg text-gray-500">
      Someone has requested access to your R8 account from another
      browser or device. You should compare the confirmation images
      to be sure you aren't about to become a victim of <a href="https://en.wikipedia.org/wiki/Phishing">phishing</a>.
  </p>
  <div class="mt-6 flex justify-around space-around-10">
      <form method="POST">
          <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
          <input type="hidden" name="form_action" value="ignore"/>

          <button type="submit" name="form_action" value="ignore" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            &#128473;
            Ignore Login
          </button>
      </form>
      <form method="POST">
          <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
          <input type="hidden" name="form_action" value="confirm"/>

          <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            &#10003;
            Confirm Login
          </button>
      </form>
  </div>
</div>
