    <div class="select-text">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <div class="max-w-3xl mx-auto text-center">
            <h2 class="text-3xl tracking-tight font-bold text-gray-900">A complete no-code insurance rating platform.</h2>
            <p class="mt-4 text-lg text-gray-500">Develop, test, publish, and document your insurance product rater with no software development knowledge required!</p>
          </div>
          <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
<%
  const features = {
    "Simple formula editing": "Placeholders streamline new product development. Build your algorithm from the top-down.",
    "Powerful table lookups": "Nearest higher and lower value matching means an end to repetitive table row duplication.",
    "Term-level debugging": "The ability to test formula terms individually means an end to tedious manual debugging.",
    "Automated regression testing": "Enter an unlimited number of rating test scenarios with expected premiums. Regressions are automatically flagged and reported.",
    "Powerful change management": "Each product has a complete revision history. Separate environments for development, staging, and production allow for drama-free deployments.",
    "Comprehensive documentation": "Automated documentation is produced directly from the actual running rating algorithm, eliminating discrepancies in legal filings."
  };

  for (let tag in features) {
%>
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-9 text-lg leading-6 font-medium text-gray-900"><%= tag %></p>
              </dt>
              <dd class="mt-2 ml-9 text-base text-gray-500"><%= features[tag] %></dd>
            </div>
<%
  }
%>
          </dl>
        </div>
      </div>
    </div>
