<x-page data-widgetid="loginCTA" data-csrf="<%- req.csrfToken() %>">
  <div class="bg-dark-blue pt-10 sm:pt-16 lg:pt-8 lg:pb-14">
      <div class="mx-auto max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:flex lg:items-center lg:px-0 lg:text-left w-full">
          <div class="lg:py-24 w-full">
              <h1 class="mt-4 text-4xl font-bold tracking-tight text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
              <span class="block">A better way to</span>
              <span class="block bg-gradient-to-r from-light-blue to-cyan bg-clip-text pb-3 text-transparent sm:pb-5">build rating.</span>
              </h1>
              <p class="text-base text-gray-300 sm:text-xl lg:text-lg xl:text-xl">Enter your email to log in.</p>
              <div class="mt-10 sm:mt-12">
              <form name="login" action="#/login" method="POST" class="sm:mx-auto sm:max-w-xl lg:mx-0">
                  <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
                  <div class="sm:flex">
                      <div class="min-w-0 flex-1">
                          <label for="email" class="sr-only">Email address</label>
                          <input name="email" type="email" autocomplete="email" required value="<%= req.body.email %>" placeholder="Enter your email" class="block w-full rounded-md border-0 px-4 py-3 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-cyan focus:ring-offset-2 focus:ring-offset-gray-900" autofocus />
                      </div>
                      <div class="mt-3 sm:mt-0 sm:ml-3">
                          <button type="submit" class="block w-full rounded-md bg-gradient-to-r from-light-blue to-cyan py-3 px-4 font-bold text-dark-blue shadow hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan focus:ring-offset-2 focus:ring-offset-gray-900">Log in</button>
                      </div>
                  </div>
                  <p class="mt-3 text-sm text-gray-300 sm:mt-4">By providing your email, you agree to our <a href="#" class="font-medium text-white">terms of service</a>.</p>
              </form>
              </div>
          </div>
          </div>
          <div class="mt-12 -mb-16 sm:-mb-48 lg:relative lg:m-0">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
              <!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
              <img class="w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="/svg/cloud-illustration-light-blue.svg" alt="">
          </div>
          </div>
      </div>
      </div>
  </div>
</x-page>