<x-page class="py-10 mode-default w-full" data-widgetid="login" data-csrf="<%- req.csrfToken() %>">
  <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md flex flex-col">
      <x-svg class="mx-auto h-100 w-auto" src="/svg/raidboss-main-logo.svg" alt="raidboss software"></x-svg>
      <div id="loginMessage">
        <div>
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Sign in to your Quota account
          </h2>
          <p class="mt-2 text-center text-sm text-gray-600">
            Or
            <a data-action="cycleLoginMessage" class="font-medium text-indigo-600 hover:text-indigo-500">
              register for a free trial account
            </a>
          </p>
        </div>
        <div class="hidden">
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Register for a free Quota trial account
          </h2>
          <p class="mt-2 text-center text-sm text-gray-600">
            Or
            <a data-action="cycleLoginMessage" class="font-medium text-indigo-600 hover:text-indigo-500">
              sign in
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form name="login" class="space-y-6" action="#/login" method="POST">
          <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
          <fieldset>
            <label for="email" class="block text-sm font-medium text-gray-700">
              Email address
            </label>
            <div class="mt-1">
              <input name="email" type="email" autocomplete="email" required value="<%= req.body.email %>" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" autofocus/>
            </div>
          </fieldset>

          <div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Sign in
            </button>
          </div>
        </form>
      </div>
    </div>

    <%- include('feature-list') %>
  </div>
</x-page>