<!-- This example requires Tailwind CSS v2.0+ -->
<div id="newTermDialog" class="hidden fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="cancelBackground fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
      <div>
        <div class="mt-3 text-center sm:mt-5">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
            Create Term: <span id="newTermName" class="text-blue-500"></span>
          </h3>
          <div class="mt-2">
              <ul role="list" style="fill: #fff" class="mt-3 grid grid-cols-1 gap-5 sm:gap-6">
<%
  const term_types = {
    "expression": "Expression",
    "constant": "Constant",
    "input": "Input",
    "table": "Table" //,
    //"integration": "Integration"
  };

  for (let k in term_types) {
    let v = term_types[k];
%>
                <li class="col-span-1 flex items-start shadow-sm rounded-md">
                  <div class="flex items-center border-t border-r border-b border-gray-200 bg-white hover:bg-gray-200 rounded-r-md truncate w-full">
                    <x-term-icon class="flex-shrink-0 w-10 h-10" type="<%= k %>"></x-term-icon>
                    <a href="#" class="m-1 text-gray-900 font-medium"><%= v %></a>
                  </div>
                </li>
<%
  }
%>
              </ul>
          </div>
        </div>
      </div>
      <div class="mt-5 sm:mt-6">
        <button type="button" name="cancel" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-600 text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:text-sm">
          cancel
        </button>
      </div>
    </div>
  </div>
</div>
