<x-tiles class="large" id="packages">
    <% for (const packageName in packageList) {
        const pkg = packageList[packageName];
    %>
    <x-tile data-packageId="<%= pkg.packageId %>">
        <h1><%= packageName %></h1>
    </x-tile>
    <% } %>
    <x-tile class="addNew">
        <button id="addPackage" type="button" class="inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <!-- Heroicon name: outline/plus-sm -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
        </button>
    </x-tile>
</x-tiles>

<template id="newPackage">
    <rc-package-tile class="opening editing new">
    </rc-package-tile>
</template>
