<% if (loginSession && loginSession.valid) {
    const pages = {
        "Dashboard": "#/",
        "APIM": "#/apim",
        "Settings": "#/settings"
    }
    for (let title in pages) {
        if (current == title) { %>
            <a href="<%= pages[title] %>" class="border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" aria-current="page"><%= title %></a>
<%      } else { %>
            <a href="<%= pages[title] %>" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"><%= title %></a>
<%      }
    }
}
%>
