<x-page class="py-10 mode-default w-full" data-widgetid="settings_home" data-csrf="<%- req.csrfToken() %>">
  <div class="bg-white rounded-lg shadow overflow-hidden">
    <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
      <aside class="py-6 lg:col-span-3">
        <nav class="space-y-1">
          <!-- Current: "bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700", Default: "border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900" -->
          <a href="#" class="bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700 group border-l-4 px-3 py-2 flex items-center text-sm font-medium" aria-current="page">
            <!--
              Heroicon name: outline/user-circle

              Current: "text-teal-500 group-hover:text-teal-500", Default: "text-gray-400 group-hover:text-gray-500"
            -->
            <x-svg class="h-8 w-8" src="/svg/cog.svg"></x-svg>
            <span class="truncate">
              Settings
            </span>
          </a>
        </nav>
      </aside>

      <%- include('settings-profile') %>
    </div>
  </div>
</x-page>