<div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" data-widgetid="table_editor">
    <%- include('term-editor-header') %>
    <div class="py-4">
        <div class="">
            <x-term-table id="termTable" disabled>
            </x-term-table>
        </div>
    </div>
</div>
<%- include('new-term-dialog') %>
