<div class="w-64 m-4">
    <h2 class="text-xl font-bold leading-tight text-gray-900 uppercase"><%=listTitle%></h2>
    <ul>
<%
    for (const term of Array.from(termList)) {
        const url = new SPAURL(req.url);
        url.searchParams.append('ts', term.name);
%>
        <li class="col-span-1 flex m-1">
          <div class="iconarea flex-shrink-0 flex items-center justify-center w-8 bg-pink-600 text-white text-sm font-medium">
            <x-svg class="h-4 w-4" src="/svg/term-icon-<%- term.termTypeName %>.svg"></x-svg>
          </div>
          <div class="flex-1 flex items-center justify-between bg-white">
            <div class="flex-1 px-2 py-1 text-sm truncate">
              <a href="<%- url %>" class="text-gray-900 font-medium hover:text-gray-600"><%= term.name %></a>
            </div>
          </div>
        </li>
<%
    }
%>
    </ul>
</div>
