<details id="undefinedtermswidget" data-widgetid="undefinedtermswidget" class="select-none" open>
    <summary>
        <label>undefined terms</label>
    </summary>
    <ul>
<%
    for (const termName of pkg.undefinedTerms) {
%>
    <li><x-token type="name" value="<%= termName %>"></x-token></li>
<%
    }
%>
    </ul>
</details>
