/*
    https://theemer.com/?colors=778899-8ea32f-8ea3af-0e236f-0e23ef-0ea36f-000000-ffffff-8b0000-ff0000-eeeeee-fafad2-ff4500
*/
:root{
    --border: #778899;
    --ok-text: #0ea36f;
    --err-text: #ff0000;
    --dead-text: #8ea3af;
    --accent-text: #0e23ef;
    --accent-attention: #ff4500;
    --accent-bg: #87cefa;
    --accent-bg-lt: #87cefa94;
    --menu-text: #111111;
    --menu-hilight: #eeeeee;
    --focus-bg: #fafad2;
    --thin: 1pt;
    --med: 2pt;
    --thick: 3pt;
    --margin: 2pt;
    --small: 1.5em;
    --large: 4em;
    --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --big-tile-h: 10em;
    --big-tile-w: 16em;

    --fastest: .2s;
    --faster: .3s;
    --fast: .5s;
}

html, body {
    background: var(--main-bg);
    font-family: "Source Code Pro", monospace;
}

header x-input  {
    font-size: 4vh;
    font-weight: 500;
}

rc-packages {
    display: flex;
    max-width: 120em;
}

button.round {
    border: none;
    border-radius: 25%;
}

x-page>header {
    display: flex;
    grid-area: header;
}

x-page>x-sidebar {
    display: flex;
    flex-direction: column;

    grid-area: sidebar;
}

x-page>x-content {
    display: flex;

    grid-area: content;
}

a {
  color: #00B7FF;
}

/* dashboard styles */

x-tiles {
    user-select: none;
}

.large x-tile.addNew {
    align-items: center;
    justify-content: center;
}

#packages rc-package-tile:hover {
    background: var(--focus-bg);
}

#packages rc-package-tile:active {
    box-shadow: none;
}

#packages rc-package-tile.editing:hover {
    background: inherit;
}

#packages rc-package-tile.editing:hover,
#packages rc-package-tile.editing:active
{
    background: inherit;
    box-shadow: var(--card-shadow);
}

.large x-tile h1 {
    font-size: 200%;
}

.large x-tile.addNew:hover,
.large x-tile.addNew:active {
    background: inherit;
    box-shadow: var(--card-shadow);
}

#addProduct {
    stroke: #fff;
    fill: #fff;
}

x-svg {
    display: inline-block;
    width: 1em;
    height: fit-content;
}

h1 x-svg {
    display: inline-block;
    margin-right: .25em;
}

#terms .iconarea x-svg {
    fill: #fff;
    stroke: #fff;
}

x-expression {
    display: block;
    min-width: 40em;
    max-width: 60em;
    height: 3em;
    background: #eee;
}
